<div id="container">
  <span id="name"
    ><i><b>ALEX DIAZ</b></i></span
  ><br /><br />
  <a href="mailto:amdiaz1313@gmail.com" id="email"
    ><i><b>amdiaz1313&#64;gmail.com</b></i></a
  ><br /><br />
  <div id="picture">
    <img
      src="https://resources.finalsite.net/images/f_auto,q_auto,t_image_size_3/v1643129842/lsr7org/yjd96twj6awmjl57ab2x/LFE_09092021-79591.jpg"
      alt="lfe"
    />
  </div>
  <br /><br />
  <span id="timezone">
    <i>
      <a href="https://24timezones.com/usa_time/mo_jackson/lees_summit.php"
        >Time in Lees Summit</a
      >
      -
      <app-clock></app-clock> - 
      <a href="https://24timezones.com/time-zone/ct">CT</a>
    </i>
  </span>
  <br /><br />

  <span id="list">
    <a routerLink="about">about</a> / 
    <a routerLink="resume">resume</a> /
    <a routerLink="projects">projects</a> / 
    <a routerLink="blog">blog</a> /
    <a href="https://www.inspiringquotes.com/">quotes</a> </span
  ><br /><br />
  <span id="socials">
    <a href="https://discord.com/users/308089208634081280" target="_blank">
      <img
        class="icon"
        src="icons/discord-mark-black.png"
        alt="discord"
    /></a>
    <a href="https://www.linkedin.com/in/alex-diaz-1560a928a/" target="_blank">
      <img class="icon" src="icons/LI-In-Bug.png" alt="linkedin"
    /></a>
    <a href="https://github.com/imloadinqqq" target="_blank">
      <img class="icon" src="icons/github-mark.png" alt="github"
    /></a>
    <a href="http://youtube.com/@amdiaz1313" target="_blank">
      <img class="icon" src="icons/yt_icon_rgb.png" alt="youtube"
    /></a>
  </span>
</div>
