  <div style="width: auto; display: grid; grid-template-columns: 1fr;">
    <div style="float: left;">
      <img id="picture" src="photos/IMG_0064.JPG" alt="pic">
    </div>
    <div>
      <p id="blahblah">
        Hey there! My name's Alex and I'm a recent graduate from the University of Central Missouri with a Bachelor's Degree in Computer
        Science.<br>I am currently searching for a full stack developer role.<br>I enjoy learning and reading as well as
        being with friends and family.<br>
      </p>
    </div>
  </div>

  <div id="links">
    <a routerLink="/books">list of books i've read/am reading</a><br><br>
    <a routerLink="/equipment">list of equipment i use</a><br><br>
    <a routerLink="/photos">pictures of puerto rico</a>
  </div>