<div class="post-container" *ngIf="post; else noPost">
  <div class="blog-post">
    <h2>{{ post.title }}</h2>
    <p><strong>Author:</strong> {{ post.author }}</p>
    <p><strong>Date:</strong> {{ post.dateCreated | date:'medium' }}</p>

    <div class="tags" *ngIf="post.Tags && post.Tags.length > 0">
      <strong>Tags: </strong>
      <span *ngFor="let tag of post.Tags" class="tag">{{ tag + " "}}</span>
    </div>

    <div class="content">
      <p>{{ post.content }}</p>
    </div>
  </div>
</div>

<ng-template #noPost>
  <div>No post found.</div>
</ng-template>
